
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center; 
}

#registerForm {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid 1px lightgray;
    border-radius: 15px;
    justify-content: center;
    align-items: start;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error-message {
    background: #f58181aa;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
}

.form-footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

input[type=submit] {
    height: 30px;
}